@model List<HanaHotel.EntityLayer.Concrete.AppUser>


@{
    ViewData["Title"] = "Người dùng";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Quản lý người dùng</h2>

    <div class="mb-3">
        <a href="@Url.Action("Index", "Register")" class="btn btn-primary">Thêm người dùng mới</a>
    </div>

    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Mã người dùng</th>
                <th scope="col">Họ</th>
                <th scope="col">Tên</th>
                <th scope="col">Thành phố</th>
                <th scope="col">Email</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Nơi làm việc</th>
                <th scope="col">Phòng ban</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.LastName</td>
                    <td>@user.City</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@(user.WorkLocation!.WorkLocationCityName)/@(user.WorkLocation!.WorkLocationCountry) </td>
                    <td>@user.Department</td>
                    <td>
                        <a href="@Url.Action("UpdateUser", "AdminUser", new { id = user.Id })" class="btn btn-warning btn-sm">Sửa</a>
                        <a href="@Url.Action("DeleteUser", "AdminUser", new { id = user.Id })" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa người dùng này không?');">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


