@model List<StaffViewModel>

@{
    ViewData["Title"] = "Quản lý nhân viên";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Quản lý nhân viên</h2>

     <div class="mb-3">
        <a href="@Url.Action("AddStaff", "Staff")" class="btn btn-primary">Thêm nhân viên mới</a>
    </div>

    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Họ và tên</th>
                <th scope="col">Chức vụ</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Model)
            {
                <tr>
                    <td>@staff.StaffId</td>
                    <td>@staff.Name</td>
                    <td>@staff.Title</td>
                    <td>
                        <a href="@Url.Action("UpdateStaff", "Staff", new { id = staff.StaffId })" class="btn btn-warning btn-sm">Sửa</a>
                        <a href="@Url.Action("DeleteStaff", "Staff", new { id = staff.StaffId })" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chăc chắn muốn xóa nhân viên này?');">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
