@model UpdateBookingDTO

@{
    ViewData["Title"] = "Cập nhật đặt phòng";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" asp-action="UpdateBooking" asp-controller="AdminBooking">
    <input type="hidden" asp-for="BookingId" />

    <div class="form-group">
        <label asp-for="CheckInDate" class="control-label">Ngày nhận phòng</label>
        <input asp-for="CheckInDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CheckOutDate" class="control-label">Ngày trả phòng</label>
        <input asp-for="CheckOutDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label" style="margin-right: 10px;">Trạng thái</label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-warning @(Model.Status == HanaHotel.EntityLayer.Concrete.BookingStatus.Pending ? "active" : "")" style="margin-right: 5px;">
                <input type="radio" name="Status" value="Pending" @(Model.Status == HanaHotel.EntityLayer.Concrete.BookingStatus.Pending ? "checked" : "") /> Chờ xử lý
            </label>
            <label class="btn btn-success @(Model.Status == HanaHotel.EntityLayer.Concrete.BookingStatus.Confirmed ? "active" : "")" style="margin-right: 5px;">
                <input type="radio" name="Status" value="Confirmed" @(Model.Status == HanaHotel.EntityLayer.Concrete.BookingStatus.Confirmed ? "checked" : "") /> Đã xác nhận
            </label>
            <label class="btn btn-danger @(Model.Status == HanaHotel.EntityLayer.Concrete.BookingStatus.Cancelled ? "active" : "")" style="margin-right: 5px;">
                <input type="radio" name="Status" value="Cancelled" @(Model.Status == HanaHotel.EntityLayer.Concrete.BookingStatus.Cancelled ? "checked" : "") /> Đã hủy
            </label>
            <label class="btn btn-primary @(Model.Status == HanaHotel.EntityLayer.Concrete.BookingStatus.Completed ? "active" : "")">
                <input type="radio" name="Status" value="Completed" @(Model.Status == HanaHotel.EntityLayer.Concrete.BookingStatus.Completed ? "checked" : "") /> Hoàn thành
            </label>
        </div>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-dark">Cập nhật đặt phòng</button>
    </div>
</form>
