@model List<ResultTestimonialDTO>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<div class="container mt-4">
    <h2 class="text-center mb-4">Testimonials Management</h2>

    <div class="mb-3">
        <a href="@Url.Action("AddTestimonial", "Testimonial")" class="btn btn-primary">Add New Testimonial</a>
    </div>

    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var testimonial in Model)
            {
                <tr>
                    <td>@testimonial.TestimonialId</td>
                    <td>@testimonial.Name</td>
                    <td>@testimonial.Title</td>
                    <td>@testimonial.Description</td>
                    <td>
                        @if (!string.IsNullOrEmpty(testimonial.Image))
                        {
                            <img src="~/hotel-html-template/img/@testimonial.Image" alt="Testimonial Image" style="width: 100px; height: auto;" />
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("UpdateTestimonial", "Testimonial", new { id = testimonial.TestimonialId })" class="btn btn-warning btn-sm">Edit</a>
                        <a href="@Url.Action("DeleteTestimonial", "Testimonial", new { id = testimonial.TestimonialId })" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this testimonial?');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
